PLATFORM=facebook
PORT=5000
STREAM_KEY=FB-1406585617953366-0-Ab7c_qEAnRQJy0kIb4J4YnQl
VIDEO_FILE=video_optimized.mp4
# Custom RTMP URL (optional, overrides PLATFORM/STREAM_KEY)
# RTMP_URL=rtmp://your-custom-url/live
# Force transcoding if the source video is not compatible (true/false)
FORCE_TRANSCODE=false
# FFmpeg preset (ultrafast, superfast, veryfast, faster, fast, medium, slow, slower, veryslow)
FFMPEG_PRESET=ultrafast
